<span class="mobile btn-mobile-menu">
  <i class="icon icon-list btn-mobile-menu__icon"></i>
  <i class="icon icon-x-circle btn-mobile-close__icon hidden"></i>
</span>

<header class="panel-cover" style="background-image: url({{ site.baseurl }}{{ site.bkimage }})">
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">
        <a href="{{ site.baseurl }}/" title="link to home of {{ site.title }}">
          <img src="{{ site.baseurl }}{{ site.profilepic }}" class="user-image" alt="My Profile Photo">
          <h1 class="panel-cover__title panel-title">{{ site.title }}</h1>
        </a>
        <hr class="panel-cover__divider">
        <p class="panel-cover__description">풀스택을 지향하는 열정적인 신입 개발자 입니다.</p>
        <hr class="panel-cover__divider panel-cover__divider--secondary">

        <div class="navigation-wrapper">

          <nav class="cover-navigation navigation--social">
            <ul class="navigation">

            {% if site.author.facebook_username %}
              <!-- Facebook -->
              <li class="navigation__item">
                <a class="modal-trigger" href="#modal" title="test on Facebook" target="_blank">
                  <i class="icon icon-info"></i>
                  <span class="label">Facebook</span>
                </a>
              </li>
            {% endif %}

            {% if site.author.github_username %}
              <!-- GitHub -->
              <li class="navigation__item">
                <a href="https://www.github.com/{{ site.author.github_username }}" title="{{ site.author.github_username }} on GitHub" target="_blank">
                  <!--<i class="icon icon-social-github"></i>-->
                  <i class="icon icon-social-github"></i>
                  <span class="label">GitHub</span>
                </a>
              </li>
            {% endif %}

            {% if site.author.email %}
              <!-- Email -->
              <li class="navigation__item">
                <a href="mailto:{{ site.author.email }}" title="Email {{ site.author.email }}" target="_blank">
                  <!--<i class="icon icon-mail"></i>-->
                  <i class="icon icon-mail"></i>
                  <span class="label">Email</span>
                </a>
              </li>
            {% endif %}

            </ul>
          </nav>
          
          <!--<nav class="cover-navigation cover-navigation--primary">-->
          <nav class="cover-navigation navigation--social">
            <ul class="navigation">
              <li class="navigation__item"><a href="https://github.com/rodvkf72/GO_WEB" title="link to Blog"><i class="fas fa-link fa-lg"></i>&nbsp;Blog</a></li>
              <!--<li class="navigation__item"><a href="{{ site.baseurl }}/#" title="link to Tweets" class="panel-button"><i class="icon icon-social-twitter"></i>&nbsp;Tweets</a></li>-->
              <li class="navigation__item"><a href="{{ site.baseurl }}/#projects" title="link to Tweets" class="panel-button projects-button"><i class="fas fa-file-code fa-lg"></i>&nbsp;Projects</a></li>
            </ul>
          </nav>

        </div>

      </div>

    </div>

    <div class="panel-cover--overlay"></div>
  </div>

  <!--  Modal Structure  -->
  <div id="modal" class="modal center">
    <div class="modal-content">
      <h3 style="text-align: center;">Who is ?</h4><hr>
      <br>
      <div style="float: right; width: 40%;">
        <table style="text-align: center;">
          <tr>
            <td>출생연도</td>
            <td>1995년 1월 25일</td>
          </tr>
          <tr>
            <td>출생지</td>
            <td>부산</td>
          </tr>
          <tr>
            <td>이름</td>
            <td>김광호</td>
          </tr>
        </table>
      </div>
      <br><br><br><br><br><br><br><br><br>
      <p style="text-align: center;">
        <b>학력</b>
        <br>2020년 기준 동의대 4학년 재학 중. 2021년 2월 졸업 예정
      </p>
      <br>
      <p style="text-align: center">
        <b>관심분야</b>
        <br>클라이언트, 서버, 데이터베이스 간 통신을 활용한 웹, 안드로이드 앱 개발
      </p>
      <br>
      <p style="text-align: center">
        <b>제작목적</b>
        <br>프로젝트 정리 및 웹 개발 체험
      </p>
    </div>
    </div>--><br>
  </div>
</header>
